
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:aliceblue;
    padding:20px;
}

header{
    min-height:100px;
    padding-bottom:20px;
}

.container{
    display:flex;
    gap:26px;
    justify-content: space-around;
    background-color:white;
    padding:20px;
    border-radius:15px;
}
.sidebar{
    

}
.main-content{

}
.task{

}
