*{
    background-color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    }
header{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    align-self:center;
    padding-bottom: 20px;
    min-height: 100px;

}
.container{
    display: flex;
    background-color: whitesmoke;
    flex-direction: row;
    justify-content: space-around;
    gap: 26px;
    

}